<div class="container" id="content-container">
  <h2 class="heading-title">USER PROFILE</h2>
  <hr>

  <ng-container *ngIf="authService.isAuthenticated$ | async; else notAuthenticated">
    <!-- Display user information when authenticated -->
    <div class="profile-actions">
      <button id="fg-button" style="width: 100%;" class="mb-2" (click)="onUpdateUserDetails()">Update Profile</button>
      <br>
      <button id="fg-button" style="width: 100%;" (click)="onDeleteUser(user?.sub, user_details.profile_image[1], user_details.profile_image[2])">Delete Account</button>
    </div>

    <hr>

    <div *ngIf="user_details" class="user-profile">
      <div class="profile-container">
        
        <div class="profile-details">
          <div class="profile-header">
            <img *ngIf="user_details.profile_image" [src]="user_details.profile_image[0]" alt="Profile Image">
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Email</div>
            <div class="profile-content col-md-9">{{ user?.email }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Username</div>
            <div class="profile-content col-md-9">{{ user?.nickname }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Full Name</div>
            <div class="profile-content col-md-9">{{ user_details.first_name }} {{ user_details.last_name }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Description</div>
            <div class="profile-content col-md-9">{{ user_details.description }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Experience</div>
            <div class="profile-content col-md-9">{{ user_details.experience }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Location</div>
            <div class="profile-content col-md-9">{{ user_details.location }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Games Joined</div>
            <div class="profile-content col-md-9">{{ user_details.games_joined }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Subscribed to Notifications</div>
            <div class="profile-content col-md-9">{{ user_details.sub_notifications ? 'Yes' : 'No' }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Created At</div>
            <div class="profile-content col-md-9">{{ user_details.create_at | date }}</div>
          </div>
          <div class="profile-row col-md-12">
            <div class="profile-label col-md-3">Last Updated</div>
            <div class="profile-content col-md-9">{{ user_details.updated_at | date }}</div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- CURRENT GAMES -->
    <h2 class="heading-title">Current Games</h2>

    <!-- SORTING GAMES -->
    <div class="col-md-12 comment-sort">
      <select class="form-select" [(ngModel)]="selected_current_sort_option" (change)="onSortCurrentGamesChange()">
        <option value="default">Sort by Default</option>
        <option value="closest_date">Sort by Closest Date and Time</option>
        <option value="furthest_date">Sort by Furthest Date and Time</option>
      </select>
    </div>

    <div *ngIf="user_current_games_list">
      <div *ngFor="let game of user_current_games_list | async" class="comment">
        <div class="player-list" style="display: flex; align-items: center; cursor: pointer;" [routerLink]="['/games', game._id]">
            <div class="games-details">
                <h1 class="games-name">{{game.name}}</h1>
                <div class="games-datetime">
                    <h2 class="games-date">{{game.date}}</h2>
                    <h2 class="games-time">{{game.time}}</h2>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Current Games Pagination -->
    <nav aria-label="Page navigation" class="d-flex justify-content-center" id="page-navigation">
      <ul class="pagination">

          <li class="page-item">
              <button class="page-link" (click)="firstGamesPage('current')">First</button>
          </li>

          <li class="page-item">
              <button class="page-link" (click)="previousGamesPage('current')" [disabled]="current_games_page === 1">{{"\<"}}</button>
          </li>
          
          <ng-container *ngFor="let pageNum of [current_games_page - 2, current_games_page - 1, current_games_page, current_games_page + 1, current_games_page + 2]">
              <li class="page-item" *ngIf="pageNum > 0 && pageNum <= current_games_total_pages" [class.active]="pageNum === current_games_page">
                  <button class="page-link" (click)="goToGamesPage('current', pageNum)">{{pageNum}}</button>
              </li>
          </ng-container>                  

          <li class="page-item">
              <button class="page-link" (click)="nextGamesPage('current')" [disabled]="current_games_page === current_games_total_pages">{{"\>"}}</button>
          </li>

          <li class="page-item">
              <button class="page-link" (click)="lastGamesPage('current')">Last</button>
          </li>
      </ul>
    </nav>
    <!-- End of Current Games Pagination -->

  <!-- PREVIOUS GAMES -->
  <h2 class="heading-title">Previous Games</h2>

  <!-- SORTING GAMES -->
  <div class="col-md-12 comment-sort">
    <select class="form-select" [(ngModel)]="selected_previous_sort_option" (change)="onSortPreviousGamesChange()">
      <option value="default">Sort by Default</option>
      <option value="closest_date">Sort by Closest Date and Time</option>
      <option value="furthest_date">Sort by Furthest Date and Time</option>
    </select>
  </div>

  <div *ngIf="user_previous_games_list">
    <div *ngFor="let game of user_previous_games_list | async" class="comment">
        <div class="player-list" style="display: flex; align-items: center; cursor: pointer;" [routerLink]="['/games', game._id]">
            <div class="games-details">
                <h1 class="games-name">{{game.name}}</h1>
                <div class="games-datetime">
                    <h2 class="games-date">{{game.date}}</h2>
                    <h2 class="games-time">{{game.time}}</h2>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Previous Games Pagination -->
  <nav aria-label="Page navigation" class="d-flex justify-content-center" id="page-navigation">
    <ul class="pagination">

        <li class="page-item">
            <button class="page-link" (click)="firstGamesPage('previous')">First</button>
        </li>

        <li class="page-item">
            <button class="page-link" (click)="previousGamesPage('previous')" [disabled]="previous_games_page === 1">{{"\<"}}</button>
        </li>
        
        <ng-container *ngFor="let pageNum of [previous_games_page - 2, previous_games_page - 1, previous_games_page, previous_games_page + 1, previous_games_page + 2]">
            <li class="page-item" *ngIf="pageNum > 0 && pageNum <= previous_games_total_pages" [class.active]="pageNum === previous_games_page">
                <button class="page-link" (click)="goToGamesPage('previous', pageNum)">{{pageNum}}</button>
            </li>
        </ng-container>                  

        <li class="page-item">
            <button class="page-link" (click)="nextGamesPage('previous')" [disabled]="previous_games_page === previous_games_total_pages">{{"\>"}}</button>
        </li>

        <li class="page-item">
            <button class="page-link" (click)="lastGamesPage('previous')">Last</button>
        </li>
    </ul>
  </nav>
  <!-- End of Previous Games Pagination -->

  <!-- PLAYER COMMUNITIES -->
  <h2 class="heading-title">PLAYER COMMUNITIES</h2>
  <div *ngIf="player_communities" class="player-communities-container">
    <ng-container *ngFor="let community of player_communities">
      <a [routerLink]="['/communities', community._id]" class="player-community-card">
        <div class="player-community-image-container">
          <img *ngIf="community.image && community.image.length > 0" [src]="community.image[0]" alt="{{ community.name }}" class="player-community-image">
        </div>
        <div class="player-community-info">
          <h3 class="player-community-name">{{ community.name }}</h3>
          <p class="player-community-location">{{ community.location }}</p>
        </div>
      </a>
    </ng-container>
  </div>

  </ng-container>

  <!-- Display a message and sign-in link when not authenticated -->
  <ng-template #notAuthenticated>
    <p>Please sign in or register to view your profile.</p>
    <app-auth></app-auth>
  </ng-template>
</div>
