<div id="welcome-container">
  <img src="assets/main_logo.png" alt="FootyGather Logo" id="logo">
  <h1>FOOTY GATHER</h1>
  <p id="welcome-description">Welcome to FootyGather, your ultimate platform to connect with fellow football enthusiasts, organize games, and meet new people! Whether you're looking to join local communities, schedule matches, or simply socialize with like-minded fans, FootyGather has got you covered.</p>
  <p id="welcome-description">Join us now and take your passion for football to the next level.</p>
  <button class="gs-button"  routerLink="/communities">Get Started</button>
</div>