<div class="container" id="content-container">
    <h1 class="heading-title">Contact Us</h1>

    <div class="contact-info">
        <h2>Contact Information</h2>
        <hr>
        <p class="contact-description">If you have any questions, please do not hesitate to reach out to us. We are here to help!</p>
        <div class="contact-details">
            <p class="contact-detail"><strong>Email: </strong> <a href="mailto:henrychan997@gmail.com">{{'henrychan997@gmail.com'}}</a></p>
            <p class="contact-detail"><strong>Phone: </strong> <a href="tel:+07934839969">07934839969</a></p>
            <p class="contact-detail"><strong>Address: </strong> 123 Example Street, Ballymena, Northern Ireland</p>
        </div>
    </div>
    
    
    <!-- Contact Form -->
    <div class="contact-form">
        <h2>Send Us a Message</h2>
        <hr>
        <form [formGroup]="contact_form" class="styled-form">

            <div class="form-group">
                <input type="text" id="contact-email" formControlName="contact_email" placeholder="Enter you email address"/>
            </div>
            <div class="form-group">
                <input type="text" id="contact-name" formControlName="contact_name" placeholder="Enter you name"/>
            </div>
            <div class="form-group">
              <textarea id="contact-message" formControlName="contact_message" placeholder="Enter a message"></textarea>
            </div>
            <button id="fg-button" (click)="onSubmit()">Send Message</button>
          </form>
    </div>

</div>