<div class="container" id="content-container">

        <h2 class="heading-title">Communities</h2>

        <div class="input-group mb-2" id="search-button">
            <input type="text" class="form-control" placeholder="Search for communities by name" [(ngModel)]="search_query" (input)="search()">
        </div>

            <div class="mb-2">                    
                  <div class="mb-2">
                    <button id="fg-button" style="width: 100%;" (click)="onAddCommunity()">Add Community</button>
                  </div>
                  <div style="width: 100%;">
                    <select class="form-select" [(ngModel)]="selected_sort_option" (change)="onSortChange()">
                      <option value="default">Sort by Default Distance</option>
                      <option value="closest">Sort by Closest Distance</option>
                      <option value="furthest">Sort by Furthest Distance</option>
                    </select>
                  </div>
            </div>

        <div class="row">
            <!-- Display search results -->
            <div *ngFor= "let community of (search_query ? search_results : community_list | async)" class="col-md-6 mb-4">
                <!-- Background colour and link to single community -->
                <div class="card text-white custom-bg-color mb-3 venue-card"
                    style="cursor: pointer;" [routerLink]="['/communities', community._id]">

                <!-- Header for card -->
                <div class="card-header communities-name">
                    <div id="heading-title" class="truncate-text">
                      {{community.name}}
                    </div>
                </div>

                <!-- Large Image -->
                <div class="image-container">
                    <img [src]="community.image[0]" class="img-thumbnail rounded-0 communities-image" alt="{{community.name}}">
                </div>

                <div class="communities-details">
                    <div class="communities-details-row col-md-12">
                        <p class="communities-label col-md-4">Location:</p>
                        <p class="communities-content col-md-8">{{community.location}}</p>
                    </div>
                    <div class="communities-details-row col-md-12">
                        <p class="communities-label col-md-4">Distance: </p>
                        <p class="communities-content col-md-8">{{community.distance_from_user}}</p>
                    </div>
                </div>

                </div> <!-- End of card -->
            </div> <!-- End of ng -->
        </div> <!-- End of row -->

    <!-- Pagination -->
    <nav aria-label="Page navigation" class="d-flex justify-content-center" id="page-navigation" *ngIf="!search_query">
        <ul class="pagination">

            <li class="page-item">
                <button class="page-link" (click)="firstPage()">First</button>
            </li>

            <li class="page-item">
                <button class="page-link" (click)="previousPage()" [disabled]="page === 1">{{"\<"}}</button>
            </li>

            <ng-container *ngFor="let pageNum of [page - 2, page - 1, page, page + 1, page + 2]">
                <li class="page-item" *ngIf="pageNum > 0 && pageNum <= total_pages" [class.active]="pageNum === page">
                    <button class="page-link" (click)="goToPage(pageNum)">{{pageNum}}</button>
                </li>
            </ng-container>

            <li class="page-item">
                <button class="page-link" (click)="nextPage()" [disabled]="page === total_pages">{{"\>"}}</button>
            </li>

            <li class="page-item">
                <button class="page-link" (click)="lastPage()">Last</button>
            </li>
        </ul>
    </nav>
    <!-- End of Pagination -->

</div> <!-- End of container -->