<div>
  <h2 mat-dialog-title>Add New Venue</h2>
  <form [formGroup]="venueForm" class="styled-form">

    <div class="form-group">
      <input type="text" id="venueName" formControlName="venueName" placeholder="What is the venue name?"/>
      </div>

      <div class="form-group">
        <input type="text" id="venueAddress" formControlName="venueAddress" #placesRef="ngx-places" ngx-gp-autocomplete (onAddressChange)="handleAddressChange($event)" placeholder="Where is the venue located?"/>
      </div>

      <div class="form-group">
        <input type="text" id="venueContact" formControlName="venueContact" placeholder="Add website/phone number"/>
      </div>

      <div class="form-group">
        <textarea id="venueDescription" formControlName="venueDescription" placeholder="Add a description"></textarea>
      </div>

      <div class="form-group">
        <label for="profilePicture" class="form-label">Add a Venue Picture</label>
        <input type="file" #fileInput id="profilePicture" accept="image/*" (change)="onFileSelected($event)">
        <img *ngIf="selectedFile" id="venue-dialog-img" [src]="imagePreview" alt="Selected Image">

        <br>
        <button id="fg-button" type="button" *ngIf="selectedFile" (click)="clearImage()">Clear Image</button>
      </div>

      <button id="fg-button" (click)="onClose()">Close</button>
      <!-- <button id="fg-button" (click)="addVenue()" [mat-dialog-close]="venueForm.value" cdkFocusInitial>Add Venue</button> -->
      <button id="fg-button" (click)="onSubmit()">Add Venue</button>
    </form>
</div>
