<div class="container" id="content-container">
    <h2 class="heading-title">PLAYER PROFILE</h2>
    <hr>
  
      <div *ngIf="user_details" class="user-profile">
        <div class="profile-container">
          
          <div class="profile-details">
            <div class="profile-header">
              <img *ngIf="user_details.profile_image" [src]="user_details.profile_image[0]" alt="Profile Image">
            </div>
            <div class="profile-row">
              <div class="profile-label">Email</div>
              <div class="profile-content">{{ user_details.email }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Username</div>
              <div class="profile-content">{{ user_details.user_name }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Full Name</div>
              <div class="profile-content">{{ user_details.first_name }} {{ user_details.last_name }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Description</div>
              <div class="profile-content">{{ user_details.description }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Experience</div>
              <div class="profile-content">{{ user_details.experience }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Location</div>
              <div class="profile-content">{{ user_details.location }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Games Joined</div>
              <div class="profile-content">{{ user_details.games_joined }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Created At</div>
              <div class="profile-content">{{ user_details.create_at | date }}</div>
            </div>
            <div class="profile-row">
              <div class="profile-label">Last Updated</div>
              <div class="profile-content">{{ user_details.updated_at | date }}</div>
            </div>
          </div>
        </div>
      </div>
</div>
