<div class="container" id="content-container">
    <div class="row">

        <div class="input-group mb-3" id="search-button">
            <input type="text" class="form-control" placeholder="Search for venues" [(ngModel)]="search_query" (input)="search()">
        </div>

            <div *ngIf="is_admin" class="input-group mb-3" id="admin-add-venue">
                <button id="fg-button" style="width: 100%;" (click)="onAddVenue()">Add Venue (Admin Only)</button>
            </div>

            <!-- Display search results -->
            <div *ngFor= "let venue of (search_query ? search_results : venue_list | async)" class="col-md-6 mb-4">

                <!-- Background colour and link to single venue -->
                <div class="card text-white custom-bg-color mb-3 venue-card"
                    style="cursor: pointer;" [routerLink]="['/venues', venue._id]">

                <!-- Header for card -->
                <div class="card-header">
                    <div id="venues-name" class="truncate-text">
                      {{venue.name}}
                    </div>
                </div>

                <!-- Large Image -->
                <div class="image-container">
                    <img [src]="venue.image[0]" class="img-thumbnail rounded-0 venues-image" alt="{{venue.name}}">
                </div>

                <!-- Footer for card -->
                <div class="card-footer" id="card-footer">
                    <div class="col-md-12" id="venues-details">
                        <p>Location: {{venue.address}}</p>
                    </div>

                </div> <!-- End of footer -->
                </div> <!-- End of card -->
            </div> <!-- End of ng -->
    </div> <!-- End of row -->

    <!-- Pagination -->
    <nav aria-label="Page navigation" class="d-flex justify-content-center" id="page-navigation" *ngIf="!search_query">
        <ul class="pagination">

            <li class="page-item">
                <button class="page-link" (click)="firstPage()">First</button>
            </li>

            <li class="page-item">
                <button class="page-link" (click)="previousPage()" [disabled]="page === 1">{{"\<"}}</button>
            </li>
            
            <ng-container *ngFor="let pageNum of [page - 2, page - 1, page, page + 1, page + 2]">
                <li class="page-item" *ngIf="pageNum > 0 && pageNum <= total_pages" [class.active]="pageNum === page">
                    <button class="page-link" (click)="goToPage(pageNum)">{{pageNum}}</button>
                </li>
            </ng-container>                  

            <li class="page-item">
                <button class="page-link" (click)="nextPage()" [disabled]="page === total_pages">{{"\>"}}</button>
            </li>

            <li class="page-item">
                <button class="page-link" (click)="lastPage()">Last</button>
            </li>
        </ul>
    </nav>
    <!-- End of Pagination -->

</div> <!-- End of container -->