<div class="container" id="content-container">

        <h2 class="heading-title">Venues</h2>
        <div class="input-group mb-3" id="search-button">
            <input type="text" class="form-control" placeholder="Search for venues" [(ngModel)]="search_query" (input)="search()">
        </div>

            <div *ngIf="is_admin" class="input-group mb-3" id="admin-add-venue">
                <button id="fg-button" style="width: 100%;" (click)="onAddVenue()">Add Venue (Admin Only)</button>
            </div>
        
        <div class="row">

            <!-- Display search results -->
            <div *ngFor= "let venue of (search_query ? search_results : venue_list | async)" class="col-md-6 mb-4">

                <!-- Background colour and link to single venue -->
                <div class="card text-white custom-bg-color mb-3 venue-card"
                    style="cursor: pointer;" [routerLink]="['/venues', venue._id]">

                <!-- Header for card -->
                <div class="card-header">
                    <div id="venues-name" class="truncate-text">
                      {{venue.name}}
                    </div>
                </div>

                <!-- Large Image -->
                <div class="image-container">
                    <img src="{{ venue.image[0] }}" class="img-thumbnail rounded-0 venues-image" alt="{{ venue.name }}">
                </div>

                <div class="venues-details">
                    <div class="venues-details-row col-md-12">
                        <div class="venues-label col-md-3">Location:</div>
                        <div class="venues-content col-md-9">{{venue.address}}</div>
                    </div>
                </div>
                
                <!-- Likes and Dislikes Display -->
                <div class="likes-dislikes-container" style="text-align: center;">
                    <div class="likes" style="display: inline-block; margin-right: 20px;">
                        <i class="fas fa-thumbs-up" style="color: green;"></i>
                        <span class="likes-count" style="font-size: 20px; color: black;">{{ venue.likes_dislikes.user_likes.length }}</span>
                    </div>
                    <div class="dislikes" style="display: inline-block;">
                        <i class="fas fa-thumbs-down" style="color: red;"></i>
                        <span class="dislikes-count" style="font-size: 20px; color: black;">{{ venue.likes_dislikes.user_dislikes.length }}</span>
                    </div>
                </div>

                </div> <!-- End of card -->
            </div> <!-- End of ng -->
        </div> <!-- End of row -->

    <!-- Pagination -->
    <nav aria-label="Page navigation" class="d-flex justify-content-center" id="page-navigation" *ngIf="!search_query">
        <ul class="pagination">

            <li class="page-item">
                <button class="page-link" (click)="firstPage()">First</button>
            </li>

            <li class="page-item">
                <button class="page-link" (click)="previousPage()" [disabled]="page === 1">{{"\<"}}</button>
            </li>
            
            <ng-container *ngFor="let pageNum of [page - 2, page - 1, page, page + 1, page + 2]">
                <li class="page-item" *ngIf="pageNum > 0 && pageNum <= total_pages" [class.active]="pageNum === page">
                    <button class="page-link" (click)="goToPage(pageNum)">{{pageNum}}</button>
                </li>
            </ng-container>                  

            <li class="page-item">
                <button class="page-link" (click)="nextPage()" [disabled]="page === total_pages">{{"\>"}}</button>
            </li>

            <li class="page-item">
                <button class="page-link" (click)="lastPage()">Last</button>
            </li>
        </ul>
    </nav>
    <!-- End of Pagination -->

</div> <!-- End of container -->