<div class="container" id="content-container">

    <div *ngFor = "let community of community_list | async">

        <div>
            <h1 class="heading-title">{{community.name}}</h1>

            <button class="col-md-12 mb-2" style="text-transform: uppercase; font-weight: 900; font-size: xx-large;" id="fg-button" click="" [routerLink]="['games']">Go to Community Games</button>

            <div class="image-container mb-2" *ngIf="community.image?.length">
                <img [src]="community.image[0]" class="img-thumbnail venue-image" alt="{{community.name}}">
            </div>
            <button class="col-md-12 mb-2" id="fg-button" style="width: 100%;" (click)="onJoinCommunity()" *ngIf="!is_player_joined">Join Community</button>
            <button class="col-md-12 mb-2" id="fg-button" style="width: 100%;" (click)="onLeaveCommunity()" *ngIf="is_player_joined">Leave Community</button>
            <div *ngIf="is_admin || is_creator" class="input-group mb-3 d-flex justify-content-center" id="admin-add-venue">
                <hr>
                <button class="mb-2" style="width: 100%;" id="fg-button-delete" (click)="onDeleteCommunity(community_id, community.image[1], community.image[2])">Delete Community (Admin Only)</button>
                <hr>
                <button style="width: 100%;" id="fg-button" (click)="onUpdateCommunity()">Update Community (Admin Only)</button>
            </div>

            <div class="community-details">
                <div class="community-details-row col-md-12">
                    <div class="community-label col-md-3">Total Players:</div>
                    <div class="community-content col-md-9">{{this.total_players}}</div>
                </div>

                <div class="community-details-row col-md-12">
                    <div class="community-label col-md-3">Description:</div>
                    <div class="community-content col-md-9">{{community.description}}</div>
                </div>

                <div class="community-details-row col-md-12">
                    <div class="community-label col-md-3">Rules:</div>
                    <div class="community-content col-md-9">{{community.rules}}</div>
                </div>

                <div class="community-details-row col-md-12">
                    <div class="community-label col-md-3">Location:</div>
                    <div class="community-content col-md-9">{{community.location}}</div>
                </div>

                <div class="community-details-row col-md-12">
                    <div class="community-label col-md-3">Creator:</div>
                    <div class="community-content col-md-9">{{community.creator_nickname}}</div>
                </div>

                <div class="community-details-row col-md-12">
                    <div class="community-label col-md-3">Created At:</div>
                    <div class="community-content col-md-9">{{community.created_at}}</div>
                </div>
            </div>

            <h2 class="heading-title">Player List</h2>
            <div *ngFor="let player of player_list" class="comment">
                <div class="player-list" style="display: flex; align-items: center;">
                    <p style="margin: 0; flex-grow: 1; cursor: pointer;" [routerLink]="['/profile', player.user_id]">{{player.nickname + " | " + player.email}}</p>
                    <mat-icon *ngIf="is_admin || is_creator" id="dialog-close" (click)="onRemoveFromCommunity(player.oauth_id)" class="close-icon">close</mat-icon>
                </div>
            </div>
        </div>

        <div *ngFor="let community of community_list | async">

            <h2 class="comment-title">Comments</h2>
            <div class="col-md-12 comment-sort">
                <select class="form-select" [(ngModel)]="selected_sort_option" (change)="onSortCommentChange()">
                  <option value="default">Sort by Default</option>
                  <option value="newest">Sort by Newest</option>
                  <option value="oldest">Sort by Oldest</option>
                </select>
            </div>

            <button class="col-md-12" id="fg-button" (click)="onAddCommunityComment()">Add a Comment</button>

            <div class="comments-section">
                <div *ngFor="let comment of comments_list | async" class="comment">
                    <div class="comment-header">
                        <span class="comment-user">{{comment.user}}</span>
                        <span class="comment-date">{{comment.created_at | date: 'medium'}}</span>
                        <mat-icon *ngIf="comment.comment_oauth_id === user?.sub" (click)="onDeleteCommunityComment(comment._id)" id="dialog-close" class="close-icon">close</mat-icon>
                    </div>
                    <p class="comment-body">{{comment.description}}</p>
                </div>
            </div>
        </div>

    </div>
</div>