/* 
    color: #2c972c;
    color: #272727;
    color: #f5f5f5;
*/

/* GENERAL */

.header 
{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 2em;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5em;
}

#page-content
{
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#page-body
{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: auto; */
    font-weight: 300;
    background-image: url('assets/footy_pitch.jpg');
    background-size: cover;
    /* background-position: center center; */
    /* position: relative; */

    background-size: cover;
    background-position: center center;
    position: relative;
    overflow-x: hidden;
}

#content-container
{
    text-align: center;
    background-color: #272727a4;
    color: #f5f5f5;
    border: 1px solid #2c972c;
    border-radius: 8px;
    padding: 15px 16px;
    width: auto;
}

.gs-button
{
    background-color: #272727;
    color: #f5f5f5;
    border: 1px solid #2c972c;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    width: 50%;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 8px;
}

.gs-button:hover
{
    background-color: #5abd5a;
}

#fg-button
{
    background-color: #272727;
    color: #f5f5f5;
    border: 1px solid #2c972c;
    border-radius: 8px !important;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    width: 100%;
    font-size: 15px;
    border-radius: 8px !important;
    font-weight: 900;
    text-transform: uppercase;
}

#fg-button-delete
{
    background-color: #272727;
    color: #f5f5f5;
    border: 1px solid #dc3545;
    border-radius: 8px !important;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 15px;
    width: 100%;
    border-radius: 8px !important;
    font-weight: 900;
    text-transform: uppercase;
}

#fg-button:hover
{
    background-color: #5abd5a;
}

#fg-button-delete:hover
{
    background-color: #dc3545;
}

.mdc-dialog__container
{
    max-height: 700px !important;
}

/* HOME */

#home-heading
{
    font-family: 'Your Font', Arial, sans-serif;
    /* font-size: 2em; */
    font-weight: 800 !important;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    opacity: 0;
    animation: fadeInUp 1.5s forwards;
    color: #f5f5f5;
    font-size: 90%;
}

@keyframes fadeInUp
{
    from
    {
      opacity: 0;
      transform: translateY(50px);
    }

    to
    {
      opacity: 1;
      transform: translateY(0);
    }
}

.overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 255, 173, 0.200);
    z-index: 0;
    pointer-events: none;
    overflow: auto;
}

/* NAVIGATION */

app-nav
{
    /* z-index: 1 !important; */
    background-color: #333;
    color: white;
}

.fixed-top
{
    z-index: 1 !important;
}

#logo
{
    transition: transform 0.5s ease-in-out;
}

#logo:hover
{
    transform: scale(1.05);
}

#nav-bar
{
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.377);
}

#nav-links
{
    color: #f5f5f5;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
#nav-links:hover
{
    color: #5abd5a;
}

/* USER DETAILS */

#user-details-oauth
{
    font-family: 'Your Font', Arial, sans-serif;
    font-weight: 800 !important;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    opacity: 0;
    animation: fadeInUp 1.5s forwards;
    color: #f5f5f5;
    font-size: 90%;
}

.user-details-container
{
    max-width: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.user-details-container img
{
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.details-form
{
  max-width: 400px;
  margin: 0 auto;
}

.form-group
{
  margin-bottom: 20px;
}

.form-label
{
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

textarea, input[type="text"], select, input[type="file"]
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.checkbox-group
{
  display: flex;
  align-items: center;
}

.checkbox-label
{
  margin-left: 8px;
  font-weight: normal;
}

/* NOTIFICATION */
.success.mat-mdc-snack-bar-container
{
    --mdc-snackbar-container-color: #272727;
    --mdc-snackbar-supporting-text-color: #f5f5f5;
    border: 3px solid #2c972c;
    border-radius: 8px;
}

.error.mat-mdc-snack-bar-container
{
    --mdc-snackbar-container-color: #272727;
    --mdc-snackbar-supporting-text-color: #f5f5f5;
    --mdc-snackbar-border-radius: 8px;
    border: 3px solid #ff3838;
    border-radius: 8px;
}

.notifier-messageType
{
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifier-message
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon
{
    cursor: pointer;
    font-size: 22px;
    transition: transform 0.2s ease;
    background-color: #f5f5f5;
    color: #272727;
    border: 1px solid #272727;
    border-radius: 8px;
    transform-origin: center;
    text-align: center;
}

.close-icon:hover
{
    transform: scale(1.2);
}

/* VENUES */

#venues-name
{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-header
{
    background-color: #2c972c !important;
}

#venues-details, #venue-name, #communities-details
{
    color: white;
    margin-top: 5px;
    font-weight: 500;
    font-size: small;
    background-color: #272727b3;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
}

.venues-image, .communities-image
{
    width: 800px !important;
    height: 400px !important;
    object-fit: cover;
    background-color: #27272760 !important;
}

.page-item.active .page-link 
{
    background-color: #2c972c;
    border-color: #2c972c;
    color: #ffffff !important;
}

.page-link 
{
    color: black !important;
}

.page-link:hover 
{
    color: #333333; 
}

.page-item.disabled .page-link 
{
    color: #6c757d; 
    pointer-events: none; 
}

.likes-dislikes-container
{
    margin-top: 20px;
    padding: 10px;
}

.likes i, .dislikes i
{
    font-size: 24px;
    vertical-align: middle;
}

.likes-count, .dislikes-count
{
    margin-left: 10px;
    font-weight: 600;
}

.venues-details
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #f9f9f9;
}
  
.venues-details-row
{
    height: 100px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 15px;
}
  
.venues-label
{
    font-weight: bold;
    margin-right: 10px;
    color: #333;
    width: 30%;
}
  
.venues-content
{
    color: #555;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

/* VENUE */

.venue-container
{
    background-color: #272727;
}

#venue-name
{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#venue-details
{
    color: #ffffff;
}

.venue-image
{
    width: 100% !important;
    height: 300px !important;
    object-fit: cover;
    background-color: #272727 !important;
}

.venue-image-container
{
    background-color: #272727;
}

.venue-image-header
{
    color: #272727;
}

#venue-card-body
{
    background-color: #272727;
}

.like-button i, .dislike-button i
{
    font-size: 30px;
}

.like-dislike-item
{
    display: flex;
    align-items: center;
    padding: 5px;
}

.like-button, .dislike-button
{
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.like-button
{
    background-color: #2c972c;
}

.dislike-button
{
    background-color: #ff3838;
}

.like-button:hover, .dislike-button:hover
{
    transform: scale(1.05);
    background-color: #6c757d;
}

.like-dislike-count
{
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
}

/* VENUES DIALOG */

#dialog-img
{
    max-width: 200px;
    max-height: 120px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#dialog-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dialog-close
{
    margin-right: 24px;
}

hr
{
    color: #272727;
}

#preview-img
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#admin-add-venue
{
    position: relative;
    /* z-index: 2; */
}

.styled-form
{
    border-radius: 8px;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.full-width
{
    width: 100%;
    margin-top: 15px;
}

/* PROFILE */
.profile-container
{
    max-width: 800px;
    margin: auto;
}
  
.profile-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
  
.profile-header img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #2c972c;
}
  
.profile-details
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #f9f9f9;
}
  
.profile-row
{
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 15px;
}
  
.profile-label
{
    font-weight: bold;
    margin-right: 10px;
    color: #333;
    width: 30%;
}
  
.profile-content
{
    color: #555;
}
  
.player-communities-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
.player-community-card
{
    display: block;
    width: 300px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}
  
.player-community-card:hover
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.player-community-image-container
{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
  
.player-community-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
  
.player-community-info
{
    padding: 15px;
}
  
.player-community-name
{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #272727;
}
  
.player-community-location
{
    margin: 0;
    font-size: 0.9rem;
    color: #272727;
}

/* HOME */
#welcome-container
{
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#welcome-heading
{
    color: #2c972c;
    font-size: xxx-large;
}

#welcome-description
{
    color: #555;
    font-size: 20px;
    margin-bottom: 20px;
}

/* COMMUNITIES */

.communities-name
{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#details-text
{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.communities-details
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #f9f9f9;
}
  
.communities-details-row
{
    height: 65px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 15px;
}
  
.communities-label
{
    font-weight: bold;
    margin-right: 10px;
    color: #333;
    width: 30%;
}
  
.communities-content
{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    color: #555;
}

/* COMMUNITY */

.community-details
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #f9f9f9;
}
  
.community-details-row
{
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 15px;
}
  
.community-label
{
    font-weight: bold;
    margin-right: 10px;
    color: #333;
    width: 30%;
}
  
.community-content
{
    color: #555;
}

/* COMMUNITY PLAYERS LIST */
.heading-title
{
    text-transform: uppercase;
    font-weight: 600;
    background-color: #2c972c;
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 5px;
    margin-top: 10px;
    border: 1px solid #164d16;
}

/* COMMUNITY COMMENTS */
.comments-section
{
    margin-top: 20px;
    background-color: #f9f9f970;
    padding: 10px;
    border-radius: 5px;
}

.comment
{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.comment-title
{
    text-transform: uppercase;
    font-weight: 600;
    background-color: #2c972c;
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 5px;
    margin-top: 10px;
}

.comment:last-child
{
    border-bottom: none;
}

.comment-header
{
    display: flex;
    justify-content: space-between;
    background-color: #2c972c;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

.comment-user
{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.comment-date
{
    color: white;
    font-size: 0.9em;
}

.comment-body
{
    color: #272727;
    margin-top: 0;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
}

.comment-sort
{
    margin-bottom: 5px;
}

.player-list
{
    background-color: #f9f9f936;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

.games-list
{
    background-color: #f9f9f916;
    padding: 5px;
    border-radius: 8px;
}

/* GAMES */

.games-details
{
    text-align: center;
    background-color: #272727;
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px; 
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.games-name
{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #2c972c;
    overflow: hidden;
    text-overflow: ellipsis;
}

.games-datetime
{
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.games-date, .games-time
{
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    color: white;
}

/* GAME */

.creator-title
{
    text-transform: uppercase;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    color: #2c972c;
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid #164d16;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.creator-title:hover
{
    background-color: #272727;
}

.game-player-count h3
{
    margin-top: 5px;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 20px;
    border: solid 1px #2c972c;
    background: rgba(255, 255, 255, 0.418);
    color: #ffffff;
    font-weight: 900;
}

.game-status
{
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    border: solid 1px #2c972c;
    background: rgba(255, 255, 255, 0.418);
    color: #ffffff;
}

.game-status h1
{
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
}

.game-status span
{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.current
{
    background-color: #4CAF50;
}

.previous
{
    background-color: #F44336;
}


.players-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.remove-player-button
{
    border-radius: 8px;
    margin: 5px;
    background-color: #ff3838;
}

.player-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
    border: 1px solid #d4d4d4;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.player-name
{
    text-transform: uppercase;
    color: #2c972c;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.player-name:hover
{
    color: #272727;
}

.player-email, .player-username
{
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}

.game-details
{
    background-color: #fafafa;
    border-left: 5px solid #2c972c;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}

.game-description
{
    font-size: large;
    color: #272727;
    background-color: #e9f5f5;
    padding: 10px;
    border-radius: 5px;
    border-left: 3px solid #2c972c;
    margin-bottom: 15px;
}

.game-stats
{
    background: linear-gradient(to right, #f0f8ff, #e0ffe9);
    padding: 15px;
    border-radius: 8px;
}

.stat-label
{
    font-weight: bold;
    font-size: large;
    color: #272727;
}

.game-stats p
{
    margin: 10px 0;
    font-size: large;
    color: #2c972c
}

.game-community-header
{
    background-color: #272727;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #2c972c;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.game-community-header:hover
{
    background-color: #2c972c;
}

.game-community-name
{
    color: white;
    font-size: 1.8em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.game-community-name-label
{
    font-weight: 400;
    font-size: 1.4em;
    color: white;
    text-transform: uppercase;
}

.game-community-name span
{
    color: white;
    text-transform: uppercase;
}

/* PLAYERS */

.players-image
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #2c972c;
}

.players-name
{
    font-size: x-large;
    font-weight: 900;
    text-transform: uppercase;
}

/* CONTACT PAGE */

.contact-info, .contact-form
{
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: #272727;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact-info p, .contact-form p
{
    line-height: 1.5;
}

input[type="text"],
input[type="email"],
textarea
{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-info .contact-description
{
    color: #555;
    margin-bottom: 15px;
}

.contact-info .contact-detail
{
    margin-bottom: 10px;
    line-height: 1.6;
}

.contact-info .contact-detail a
{
    color: #2c972c;
    text-decoration: none;
}

.contact-details
{
    text-align: left;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* ALL GAMES */
.all-games-card
{
    background-color: #272727;
    border-radius: 8px;
    border: 1px solid white;
}

.all-games-card-header
{
    padding: 0.75rem 1.25rem;
    border-radius: 8px 8px 0px 0px;
    background-color: #2c972c;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.all-games-name
{
    font-size: xx-large;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.all-games-community
{
    font-size: 0.875rem;
    color: white;
}

.all-games-card-body
{
    padding: 1.25rem;
    background-color: #27272753;
}

.all-games-date, .all-games-time
{
    color: white;
    font-size: x-large;
}

/* MEDIA */
@media screen and (max-width: 768px)
{
    #page-content
    {
        height: 50%;
        width: 100%;
    }

    .comment-user, .comment-date
    {
        font-size: 10px;
    }

    .comment-title
    {
        font-size: 30px;
    }

    #venue-name
    {
        font-size: 30px;
    }

    #dialog-close
    {
        margin-right: 0px;
    }

    .venue-image
    {
        object-fit: contain;
        background-color: #272727 !important;
    }

    #profile-details-text
    {
        font-size: 12px !important;
    }
}

/* SCREEN */

::-webkit-scrollbar
{
    width: 10px;
}
  
::-webkit-scrollbar-thumb
{
    background-color: #2c972c; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}

.cdk-global-scrollblock
{
    position: fixed;
    width: 100%;
    overflow-y: auto;
}