/* 
    color: #2c972c;
    color: #272727;
    color: #f5f5f5;
*/

/* GENERAL */

.header 
{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 2em;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5em;
}

#page-content
{
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#page-body
{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    font-weight: 300;
    background-image: url('assets/footy_pitch.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

#content-container
{
    text-align: center;
    background-color: #272727a4;
    color: #f5f5f5;
    border: 1px solid #2c972c;
    border-radius: 8px;
    padding: 15px 16px;
    width: auto;
}

#fg-button
{
    background-color: #272727;
    color: #f5f5f5;
    border: 1px solid #2c972c;
    border-radius: 8px !important;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 14px;
    z-index: 999;
}

#fg-button:hover
{
    background-color: #5abd5a;
}

/* HOME */
  
#home-heading
{
    font-family: 'Your Font', Arial, sans-serif;
    /* font-size: 2em; */
    font-weight: 800 !important;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    opacity: 0;
    animation: fadeInUp 1.5s forwards;
    color: #f5f5f5;
    font-size: 90%;
}
  
@keyframes fadeInUp
{
    from
    {
      opacity: 0;
      transform: translateY(50px);
    }
  
    to
    {
      opacity: 1;
      transform: translateY(0);
    }
}

.overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 255, 173, 0.200);
    z-index: 0;
    pointer-events: none;
    overflow: auto;
}

/* NAVIGATION */

app-nav
{
    z-index: 1;
    background-color: #333;
    color: white;
}

.fixed-top
{
    z-index: 1 !important;
}

#logo
{
    transition: transform 0.5s ease-in-out;
}

#logo:hover
{
    transform: scale(1.05);
}

#nav-bar
{
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.377);
}

#nav-links
{
    color: #f5f5f5;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
#nav-links:hover
{
    color: #5abd5a;
}

/* USER DETAILS */

#user-details-oauth
{
    font-family: 'Your Font', Arial, sans-serif;
    font-weight: 800 !important;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    opacity: 0;
    animation: fadeInUp 1.5s forwards;
    color: #f5f5f5;
    font-size: 90%;
}

.user-details-container
{
    max-width: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.user-details-container img
{
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.details-form
{
  max-width: 400px;
  margin: 0 auto;
}

.form-group
{
  margin-bottom: 20px;
}

.form-label
{
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

textarea, input[type="text"], select, input[type="file"]
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.checkbox-group
{
  display: flex;
  align-items: center;
}

.checkbox-label
{
  margin-left: 8px;
  font-weight: normal;
}

/* NOTIFICATION */
.success.mat-mdc-snack-bar-container
{
    --mdc-snackbar-container-color: #272727;
    --mdc-snackbar-supporting-text-color: #f5f5f5;
    border: 3px solid #2c972c;
    border-radius: 8px;
}

.error.mat-mdc-snack-bar-container
{
    --mdc-snackbar-container-color: #272727;
    --mdc-snackbar-supporting-text-color: #f5f5f5;
    --mdc-snackbar-border-radius: 8px;
    border: 3px solid #ff3838;
    border-radius: 8px;
}

.notifier-messageType
{
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifier-message
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon
{
    cursor: pointer;
    font-size: 22px;
    transition: transform 0.2s ease;
    background-color: #f5f5f5;
    color: #272727;
    border: 1px solid #272727;
    border-radius: 8px;
    transform-origin: center;
    text-align: center;
}

.close-icon:hover
{
    transform: scale(1.2);
}

/* VENUES */

#venue-details, #venue-name
{
    color: #272727;
}

.page-item.active .page-link 
{
    background-color: #2c972c;
    border-color: #2c972c;
    color: #ffffff !important;
}

.page-link 
{
    color: black !important;
}

.page-link:hover 
{
    color: #333333; 
}

.page-item.disabled .page-link 
{
    color: #6c757d; 
    pointer-events: none; 
}

/* VENUE */

.venue-container
{
    background-color: #272727;
}

#venue-name
{
    color: #272727;
    font-size: 20px;
}

#venue-details
{
    color: #272727;
}

#venue-summary
{

}

/* VENUES DIALOG */

#venue-dialog-img
{
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#admin-add-venue
{
    position: relative;
    z-index: 2;
}

.styled-form
{
    border-radius: 8px;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.full-width
{
    width: 100%;
    margin-top: 15px;
}

/* MEDIA */
@media screen and (max-width: 768px)
{
    #page-content
    {
        height: 50%;
        width: auto;
    }
}

::-webkit-scrollbar
{
    width: 10px;
}
  
::-webkit-scrollbar-thumb
{
    background-color: #2c972c; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}