<div class="container" id="content-container">

    <div *ngFor="let game of game_details | async">
        <div class="game-community-header" style="cursor: pointer;" [routerLink]="['/communities', game.community.community_id]">
            <p class="game-community-name-label">Community</p>
            <h1 class="game-community-name">
                <span>{{ game.community.community_name }}</span>
            </h1>
        </div>
        <h2 class="heading-title">{{game?.name}}</h2>
        <div *ngIf="is_admin || is_creator">
            <button *ngIf="game_status === 'current'" id="fg-button" style="width: 100%;" (click)="onSendEmailToPlayers()" class="mb-2">Remind Players of Game</button>
        </div>
        <div class="game-status">
            <h1>GAME STATUS: <span [ngClass]="{'current': game_status === 'current', 'previous': game_status === 'previous'}">{{ game_status | uppercase }}</span></h1>
        </div>
        
        <button *ngIf="is_joined && game_status === 'current'" id="fg-button" style="width: 100%;" (click)="onFinishGame()" class="mb-2">Finish Game</button>
        <div *ngIf="is_admin || is_creator">
            <button *ngIf="game_status === 'current'" id="fg-button" style="width: 100%;" (click)="onUpdateGame()" class="mb-2">Update Game</button>
            <button id="fg-button-delete" style="width: 100%;" (click)="onDeleteGame()" class="mb-2">Delete Game</button>
        </div>
        <div>
            <p class="game-description mt-2">{{game?.description}}</p>
        </div>

        <div class="game-details">
            <div class="game-stats">
                <p><span class="stat-label">Venue:</span> {{game?.venue_name}}</p>
                <p><span class="stat-label">Match Length:</span> {{game?.length}} minutes</p>
                <p><span class="stat-label">Date:</span> {{game?.date}}</p>
                <p><span class="stat-label">Time:</span> {{game?.time}}</p>
                <p><span class="stat-label">Price:</span> £{{game?.price}}</p>
            </div>
        </div>

        <button *ngIf="!is_joined && game_status === 'current'" id="fg-button" style="width: 100%;" (click)="onJoinGame()">Join Game</button>
        <button *ngIf="is_joined && game_status === 'current'" id="fg-button-delete" style="width: 100%;" (click)="onLeaveGame()">Leave Game</button>

        <h2 class="heading-title">Players Joined</h2>
        <div class="game-player-count">
            <h3>{{player_count}} / {{game?.size}}</h3>
        </div>

        <div class="players-container">
            <div *ngFor="let player of player_list | async" class="player-card">
                <div class="player-action">
                    <h3 class="player-name" style="cursor: pointer;" [routerLink]="['/profile', player.user_id]">
                        {{player?.first_name}} {{player?.last_name}}
                    </h3>
                </div>
                <div class="player-info">
                    <p class="player-email">{{player?.email}}</p>
                    <p class="player-username">{{player?.username}}</p>
                </div>
                <div *ngIf="(game_status === 'current') && (is_admin || is_creator)">
                    <button mat-icon-button class="remove-player-button" (click)="onRemovePlayer(player.user_id)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        
    </div>

    <h2 class="comment-title">Comments</h2>

        <div class="col-md-12 comment-sort">
            <select class="form-select" [(ngModel)]="selected_sort_option" (change)="onSortCommentChange()">
              <option value="default">Sort by Default</option>
              <option value="newest">Sort by Newest</option>
              <option value="oldest">Sort by Oldest</option>
            </select>
        </div>

        <button *ngIf="game_status === 'current'" class="col-md-12" id="fg-button" (click)="onAddGameComment()">Add a Comment</button>

        <div class="comments-section">
            <div *ngFor="let comment of comments_list | async" class="comment">
                <div class="comment-header">
                    <span class="comment-user">{{comment.user}}</span>
                    <span class="comment-date">{{comment.created_at | date: 'medium'}}</span>
                    <mat-icon *ngIf="comment.comment_oauth_id === user?.sub" (click)="onDeleteGameComment(comment._id)" id="dialog-close" class="close-icon">close</mat-icon>
                </div>
                <p class="comment-body">{{comment.description}}</p>
            </div>
        </div>
    
</div>